.background {
 background-image: url('/1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.text-white {
  color: rgb(243, 235, 235);
}



button {
  transition: transform 0.3s ease, background-color 0.2s;
}

button:hover {
  transform: scale(1.1);
  background-color: #0f0c01;
}

.min-h-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 0.5rem 1.5rem;
  background-color: #38a169; 
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #2f855a; 
}

.submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem; 
  margin-bottom: 1.5rem; 
}


.option-button {
  padding: 0.5rem 1rem;
  background-color: #4c51bf; 
  color: white;
  border-radius: 9999px;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}


.option-button:hover {
  background-color: #434190; 
}

.option-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.6); 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #2d3748; 
  color: #edf2f7; 
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); 
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


 
